// $link: $oc-blue-5;

@import './node_modules/bulma/bulma.sass';
$background: #f7f7ef;

body {
    background-color: $background;
}

a {
    text-decoration: none;

    &.button {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
}

ul {
    margin-top: 0.25em !important;
    margin-bottom: 0.25em !important;
}

p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

button {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

h2 {
    display: inline-block;
    background: linear-gradient(transparent 70%, #a7d6ff 70%);
    margin-top: 0.5em;
}

.navbar {
    margin-bottom: 1.5em;
}

div.VueTables {
    display: block;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: normal;
    // white-space: pre-line;
    // background-color: $background
}

table.is-responsive {
    width: 100%;
    overflow: auto;
    white-space: nowrap;
    background-color: $background;
}

td {
    max-width: 300px;
    word-wrap: break-word !important;
}
